* { 
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border :0; 
}

/**Logo**/
#logo-img {
    background: url('../image/logo.png') no-repeat;
    width: 165px;
    height: 160px;
    margin: 10px 15px 10px 0;
    left : 0;
    
}